# encoding: utf-8
<div role="dialog" aria-hidden="true">
  <div class="row-fluid">
      <div class="label-container">
          <label class="general mark">姓名:</label>
          <label class="general"><%= @user.name %></label>
        </div>
      <div class="label-container">
          <label class="general mark">邮箱:</label>
          <label class="general"><%= @user.email %></label>
      </div>
      <div class="label-container">
          <label class="general mark">权限:</label>
          <label class="general"><%= @user.role.text %></label>
      </div>
      <div class="label-container">
          <label class="general mark">团队:</label>
          <label class="general"><%= @user.team %></label>
      </div>
      <div class="label-container" >
          <label class="general mark">办公室:</label>
          <label class="general"><%= @user.office %></label>
      </div>
  </div>
  <br/>
  <div class="modal-footer">
    
    <%= link_to "编辑", edit_user_path(@user.id), class: "btn btn-info" %>
  </div>
</div>